
body {
    background: rgb(0,128,128);
    background-image: linear-gradient(rgba(0,128,128, 0.5), rgba(102,255,255, 0.5)),
    url(https://external-preview.redd.it/pVbFfjN6HppDC0STBdEGNyVeL8zU4j1ZUygZShzefiA.jpg?auto=webp&s=ffbd1f270265c55e53e21763ea0612fe90b781af);
    background-size: cover;
    font-family: Arial, sans-serif;
    font-size: 1.25rem;
  }
  
h1 {
    background: rgb(0,102,85);
    width: 600px;
    margin: 5px auto;
    padding: 30px;
    box-shadow: 5px 5px 20px;
    border-radius: 20px;
    border: rgb(102,255,204) solid 2px;
    text-align: center;
    color: rgb(230,255,251);
  }
  
#description {
    background: rgb(0,102,85);
    width: 550px;
    padding: 20px;
    border-radius: 20px;
    margin: 25px auto;
    box-shadow: 5px 5px 20px;
    border: rgb(102,255,204) solid 2px;
    text-align: center;
    color: rgb(230,255,251);
    font-size: 1.5rem;
  }
  
form {
    width: 1200px;
    min-width: 800px;
    margin: 80px auto;
  }
  
legend {
    background: rgb(102,255,204);
    border-radius: 10px;
    border: rgb(0,102,85) 3px solid;
    padding: 10px; 
    font-size: 1.25rem;
  }
  
fieldset {
    background: rgba(204,255,230,0.7);
    border-radius: 20px;
    border: rgb(0,102,85) 3px solid;
    margin: 50px 30px;
    box-shadow: 5px 5px 20px grey;
    padding: 25px;
  }
  
.personal > label {
    display: block;
    margin: 10px 0 25px 0;
    width: 100%;
    min-width: 60px;
  }
  
#name, #email {
    display: block;
    width: 100%;
    margin: 5px 0;
    font-size: 1.25rem;
    padding: 5px;
  }
  
#number {
    display: block;
    width: 100%;
    margin: 5px 0 0 0;
    font-size: 1.25rem;
    padding: 5px;
  }
  
#dropdown {
    display: block;
    margin: 5px 0;
    font-size: 1.25rem;
    padding: 5px; 
  }
  
.form-question {
    text-align: left;
    margin-bottom: 3px;
  }
  
.subdub {
    display: block;
    margin: 0 0 8px 0;
  }
  
.categories > label {
    display: block;
    margin: 5px 0;
  }
  
div {
    margin: 25px 0;
  }
  
textarea {
    border: 1px solid;
    font-size: 18px;
    min-height: 120px;
    resize: vertical;
    padding: 10px;
    width: 100%;
  }
  
#submit {
    display: block;
    background: rgb(102,255,204);
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.25rem;
  }